@import "./global_variables.css";

.download-buttons {
    position: absolute;
    top: 2vh;
    left: 2vw;
    z-index: 5;
}

.download-buttons img {
    width: 100%;
    margin-top: 1vh;
    height: 7.5vw;
    filter: drop-shadow(0.5vw 0.5vw 0.5vw #00000050);
}

@media (min-width: 1150px) {
    .download-buttons {
        left: 5vw;
        top: 5vh;
    }
    .download-buttons img {
        width: auto;
        margin-left: 1vw;
    }
}

@media(max-width: 1149px) {
    .download-buttons img {
        display: block;
    }
}

@media(max-width: 600px) {
    .download-buttons {
        top: calc(var(--waves-start) + 10vw);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width: 98.5%;
        left: 0;
    }
    .download-buttons img {
        margin-left: 1vh;
    }
}

@media(max-width: 450px) {
    .download-buttons img {
        display: block;
        flex-basis: 100%;
    }
}

@media(max-width: 400px) {
    .download-buttons img {
        height: auto;
        max-width: 80vw;
    }
}
