@import './global_variables.css';
.dock {
    width: var(--dock-width);
    position: absolute;
    right: 0;
    pointer-events: none;
}

.waves {
    position: absolute;
    top: var(--waves-start);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.waves-foreground {
    z-index: 2;
}

.waves-background {
    z-index: 1;
}

.waves-foreground, .waves-background {
    position: absolute;
    left: -2.5vw;
    width: 105vw;
}
